{% extends 'base.html.twig' %}

{% block title %}Pridėti kompiuterį{% endblock %}

{% block body %}
<div class="container mt-5" style="margin-left: 20px;">
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
{{ form(form, action="{{ path('add_computer') }}") }}
</div>
{% endblock %}